@use "assets/styles/media";

.telegram-edit-main {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 15px;
  }
}

.error-message {
  margin-top: var(--indent-m);
  font-size: 14px;
  font-weight: 400;
  color: var(--error);
}