@use "assets/styles/media";
.authentication-forgot-password {
  position: absolute;
  cursor: help;

  &--shown {
    .authentication-forgot-password__inner {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    font-weight: 400;
    color: var(--new-primary);
  }

  &__inner {
    padding: 15px;
    position: absolute;
    left: -100%;
    opacity: 0;
    width: 277px;
    z-index: 1;
    background-color: var(--new-white);
    color: var(--color-black);
    border: 1px solid var(--input-default-border);
    border-radius: 10px;
    font-size: 12px;
    transition: 0.3s ease-in-out;
    pointer-events: none;

    &-link {
      color: var(--new-primary);
      text-decoration: none;
    }

    b {
      font-weight: 500;
    }
  }
}
