@use "assets/styles/media";

.telegram-edit-dates {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 15px;
  }
}
