@use "assets/styles/media";

.channel-details {
  position: fixed;
  inset: 0;
  background-color: #818fc2;
  overflow: auto;

  @include media.media-breakpoint-up(md) {
    position: absolute;
    inset: 50% auto auto 50%;
    width: 580px;
    transform: translate(-50%, -50%);
    border-radius: 15px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    padding: 7px 16px 5px 7px;

    @include media.media-breakpoint-up(md) {
      display: none;
    }

    &-back {
      --icon-width: 11px;
      --icon-height: 24px;

      padding: 9px 9px 9px 7px;
      gap: 5px;
      color: var(--new-white);
      font-size: 15px;
    }

    &-button {
      height: 31px;
      padding: 5px 12px;
      font-size: 15px;
      font-weight: 500;
      background: color-mix(in srgb, var(--new-white) 20%, transparent);

      &:hover,
      &:active {
        background: color-mix(in srgb, var(--new-white) 20%, transparent);
      }
    }
  }

  &__content {
    padding: 0 16px;
    margin-top: 49px;
    min-height: calc(100% - 91px);
    background: var(--new-white);

    @include media.media-breakpoint-up(md) {
      margin-top: 80px;
      padding: 0 50px;
    }

    &-image {
      --image-size: 100px;

      width: var(--image-size);
      height: var(--image-size);
      border-radius: 100%;
      border: 3px solid var(--new-white);
      margin-top: -39px;
      object-fit: cover;

      @include media.media-breakpoint-up(md) {
        margin-top: -30px;
      }
    }

    &-title {
      margin-top: 23px;
      font-size: 20px;
      font-weight: 700;
      line-height: 15px;
    }

    &-block {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 25px;

      &--title {
        font-size: 16px;
        font-weight: 600;
        line-height: 12px;
        color: #2d3648;
      }

      &--table {
        --border: 1px solid #edf0f7;
        border-radius: 8px;
        border-spacing: 0;
        border-collapse: separate;
        border: var(--border);
        overflow: hidden;
        font-size: 14px;
        text-align: left;

        &.channel-details__content-block--table-vertical {
          text-align: center;

          tr th {
            font-weight: 600;
          }
        }

        th:not(:last-child),
        td:not(:last-child) {
          border-right: var(--border);
        }

        tr:not(:last-child) > th,
        tr:not(:last-child) > td {
          border-bottom: var(--border);
        }

        tr {
          height: 44px;

          & > * {
            padding: 0 12px 0 14px;
          }

          th {
            background: #edf0f733;
            font-weight: 500;
          }

          a {
            color: var(--new-primary);
          }
        }
      }
    }

    &-footer {
      display: none;

      @include media.media-breakpoint-up(md) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
        padding-bottom: 50px;
      }

      &-close {
        background: transparent;
        color: #717d96;
        transition: color 0.3s ease-in-out;

        &:hover,
        &:active {
          background: transparent;
          color: rgb(113, 125, 150, 0.5);
        }
      }
    }
  }
}
