@use "assets/styles/media";

.app-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--new-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: 62px;

  @include media.media-breakpoint-up(md) {
    height: 98px;
    padding: 24px 30px;
    border-bottom: 1px solid var(--color-light-gray);
  }

  @include media.media-breakpoint-up(lm) {
    height: 94px;
    padding: 38px 40px;
  }

  @include media.media-breakpoint-up(l) {
    padding: 38px 60px;
  }

  @include media.media-breakpoint-up(xl) {
    padding: 38px 140px;
  }

  &__title {
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
  }

  &__links {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 36px;

    @include media.media-breakpoint-up(lm) {
      display: flex;
    }

    &--item {
      font-size: 15px;
      font-weight: 400;
      color: var(--new-black);
      text-decoration: none;
    }
  }

  &__auth {
    display: none;

    @include media.media-breakpoint-up(lm) {
      display: flex;
    }
  }

  &__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    @include media.media-breakpoint-up(lm) {
      display: none;
    }
  }

  :deep(.nuxt-icon) {
    svg {
      width: unset;
      height: unset;
      margin-bottom: unset;
      vertical-align: unset;
    }
  }
}
