.default-select {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 13px;

  &__label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    color: var(--new-black);
  }

  &__field {
    position: relative;
    padding: 18px 15px;
    border-radius: 10px;
    border: 1px solid;
    border-color: var(--input-default-border);
    height: 46px;
    font-size: 14px;
    font-weight: 400;
    color: var(--new-black);
    background: var(--new-white);
    outline: none;
    transition: 0.3s ease-in-out;

    &-selected {
      font-size: 14px;
      font-weight: 400;
      color: var(--new-black);
      line-height: 10px;

      &--placeholder {
        color: #717173;
      }
    }

    &-arrow {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
    }

    &:focus {
      border-color: var(--new-primary);
    }
  }

  &__options {
    position: absolute;
    top: calc(100% + 5px);
    width: 100%;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-radius: 8px;
    padding: 5px;
    background: var(--new-white);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);

    &--item {
      height: 48px;
      padding: 18px 15px;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 400;
      color: #191a1c;
      line-height: 10px;
      cursor: pointer;

      &:hover {
        background: rgba(240, 245, 254, 1);
        color: var(--new-primary);
        font-weight: 500;
      }
    }
  }
}
