.filter-calendar {
  display: flex;
  flex-direction: column;
  padding: 0 14px;
  gap: 25px;

  &__title {
    font-size: 18px;
    font-weight: 700;
    max-width: 300px;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &-reset {
      z-index: 1;
      position: absolute;
      top: -11px;
      right: 0;
      padding: 5px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      line-height: 11px;
      font-weight: 600;
      color: rgb(0, 56, 255);
      background: var(--color-white);
      cursor: pointer;
    }
  }
}
