:root {
  --color-blue: #0038ff;
  --color-white: #f6f6f6;
  --color-black: #1c1c1c;
  --color-dark-gray: #464646;
  --color-light-gray: #e8e8e8;
  --red: #e04343;
  --green: #23c250;

  --new-primary: #0038ff;
  --new-black: #191a1c;
  --new-white: #ffffff;
  --error: #e30000;

  --input-default-border: #ecebef;
  --input-disabled: #ecebef4d;
  --input-placeholder: #737375;

  --button-hover: #002ed3;
  --button-disabled: #8080808f;
}
