:root {
  --ident-s: 4px;
  --ident-m: 8px;
  --ident-ml: 10px;
  --ident-mx: 12px;
  --ident-lm: 15px;
  --ident-l: 16px;
  --ident-lx: 20px;
  --ident-xs: 24px;
  --ident-xm: 36px;
  --ident-xl: 56px;
  --ident-xxl: 64px;
  --ident-xxls: 100px;
  --ident-xxxl: 120px;
  --ident-adaptive-xm: 40px;
  --ident-adaptive-xl: 48px;
  --ident-adaptive-xxl: 80px;
  --ident-adaptive-xxxl: 86px;
}

// TODO
// s
// m
// l
// xl
// 2xl
// 3xl
// 4xl
// 5xl
