$media-vsm: 360px;
$media-sm: 768px;
$media-md: 1024px;
$media-l: 1366px;
$media-xl: 1920px;

:root {
  --media-vsm: #{$media-vsm};
  --media-sm: #{$media-sm};
  --media-md: #{$media-md};
  --media-l: #{$media-l};
  --media-xl: #{$media-xl};
}

$media-breakpoints: (
  vsm: $media-vsm,
  sm: $media-sm,
  md: $media-md,
  l: $media-l,
  xl: $media-xl,
);

@mixin media-breakpoint-down($size) {
  @media (max-width: map-get($media-breakpoints, $size)) {
    @content;
  }
}

